# SERVER
PORT=3000
NODE_ENV=development

# DB
DATABASE_URL="tuytuytuyutyuytutyuruyrtyu"

# JWT
JWT_SECRET="deve essere almeno 32 caratteriiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii"

# FRONTEND
CLIENT_URL="http://localhost:5173"

# RESEND EMAIL
RESEND_API_KEY="FSDFSDFSDFSFDS"
EMAIL_FROM="onboarding@resend.dev"