# SERVER
PORT=3000
NODE_ENV=development

# DB
DATABASE_URL="tuytuytuyutyuytutyuruyrtyu"

# JWT
JWT_SECRET="deve essere almeno 32 caratteriiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii"

# EMAIL
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="aaaa@email.com"
SMTP_PASS="aaaaapassword"
EMAIL_FROM="aaa@aa.com"

# FRONTEND
CLIENT_URL="http://localhost:5173"